@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

body {
    background: #ffffff;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    margin-left: 1%;
    width: 200px;
}

.headerWrapper {
    background-color: #D4842c;
}

.header {
    border-top: 10px solid #f9c596;
    border-radius: 3px;
    padding: 40px 0 40px 10px;
    margin: 0 auto;
    width: 85%;
    display: flex;
}

.nav-wrapper {
    height: 76px;
    width: 85%;
    margin: -35px auto;
    border-radius: 10px;
    background: #f9c596;
}

.nav-wrapper ul {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
    height: 76px;
    position: relative;
}

.nav-wrapper ul li {
    display: block;
    float: left;
    padding: 7px 0px;
}

.nav-wrapper ul li a, .nav-wrapper ul li a:visited, .nav-wrapper ul li span {
    padding: 23px 20px;
    float: left;
    text-decoration: none;
    color: black;
}

.disabled {
    display: none;
}

.content {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.dropContainer, .container, .dropBase {
    width: 150px;
    height: 40px;
    padding: 10px;
    border: 1px solid #D4842c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag {
    width: 80px;
    text-align: center;
    border: 1px solid #fd8f00;
    padding: 5px;
    background-color: #fef3ea;
}

.dropBase {
    width: 470px;
    justify-content: space-evenly;
    background-color: #D4842c;
}

.matching {
    display: flex;
    margin-top: 2%;
}

.matchingRight {
    margin-left: 3%;
}

.feedback {
    color: #f0571b;
}

.question {
    background: rgba(255,210,160,1);
    padding: 20px;
    /* border: 3px solid white; */
    border-radius: 20px;
    box-shadow: 4px 5px 4px 1px #e2d9d9;
    margin: 10px;
    font-weight: 500;
}

.q-title {
    font-weight: 400;
    margin-top: 0;
    font-size: 12px;
}

.q1 {
    font-weight: 500;
    margin-top: 0;
}

.btn {
    background-color: #D4842c;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.abgeben {
    background-color: rgb(47, 168, 47);

}

.neuer-test {
    background-color: #D4842c;
}

.reg-input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f9c596;
}

.form {
    border: 4px solid #f9c596;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background: #ffefdb;
}

.reg {
    margin-top: 20px;
}

::placeholder {
    font-family:'Montserrat', sans-serif ;
}

.input-ans {
    border-radius: 5px;
    border: none;
}

.bezeichnung {
    font-size: 12px;
    margin-bottom: 3;
}